:root {
    --color-primary: #FF6F61;
    --color-black5:  rgba(30, 40, 50, 0.05);
    --color-dark: #000000;
    --color-dark-50: rgba(0, 0, 0, 0.50);
    --color-background: #FFF;
    --color_white: #fff;
    --color-black:#1E2832;
    --color-black-75: rgba(30, 40, 50, 0.75);
}



.text_style-button {
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    color: var(--color-black);
}

.text_style-button-larg {
    font-family: "Roboto";
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    color: var(--color_white);
}


.text_style_button-small {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    color: var(--color_white);
}


.text_style-a{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
}

.text_style-a-2 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    text-transform: capitalize;
    color: var(--color-black);
}


.text_style-body {
    font-family: "Roboto";
    font-size: 74px;
    font-style: normal;
    font-weight: 300;
    line-height: 55px; /* 74.324% */
    text-transform: capitalize;
    color: var(--color-dark);
}

.text_style-body_2 {
    font-family: "Roboto";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-dark);
}

.text_style-h_6 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    color: var(--color-dark-50);
}

.text_style-h_2 {
    font-family: "Roboto";
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    color: var(--color-dark);
}


.text_style_paragraph {
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 153.846% */
    text-transform: capitalize;
}

.text_style-paragraph-larg{
    font-family: "Roboto";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px; /* 183.333% */
    text-transform: capitalize;
    color: var(--color-dark);
}


.text_style-span3 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    color: var(--color-dark-50);
}

.text_style-span2 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: strikethrough;
    text-transform: capitalize;
    color: var(--color-dark-50);
}

.text_style-span {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    color: var(--color-primary)
}

.logo_font {
    color: var(--color-dark);
    font-family: 'AmstelvarAlpha', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.btn-larg-normal {
    display: inline-flex;
    padding: 19px 26px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--color-black);
}

.center {
    margin: 0, auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap {
    width: 1920px;
    height: auto;
}

.container {
    width: 1320px;
    /* background-color: white; */
    margin: 0 auto;
}

.hearder {
    width: 100% auto;
    background-color: var(--color-black5);
    position: relative;
}

#svg_1 {
    position: absolute;
    top: 500px;
    left:0px;
}

#svg_2 {
    position: absolute;
    top: 366px;
    right:0px;
}

.heeader_top {
    width: 100%;
    height: 113px;
    display: inline-flex;
    flex-direction: column;
    gap:30px;
    justify-content: space-between;
    margin-top: 31px;
    margin-bottom: 81px;
}

.top-bar {
    width: 100%;
    height: 59px;
    border-bottom: 1px solid #E3E3E3;
}

.user {
    display:inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 22px;
}


ul li {
    list-style: none;
}


/* .baner {
    margin-bottom: 90px;
} */

.banner_content {
    width: 686px;
    height: 354px;
    flex-shrink: 0;
    margin-right: 98px;
}


.banner_image {
    width: 1226px;   
    height: 562px;
    position: relative;
    flex-shrink: 0;
}

.image_frame_font {
    display: flex;
    width: 424px;
    height: 542px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 160px 0px;
    position: relative;
    overflow: hidden;
    z-index: 99;
}

.image_frame_back {
    width: 424px;
    height: 542px;
    flex-shrink: 0;
    border-radius: 160px 0px;
    border: 2px solid var(--Dark-25, rgba(0, 0, 0, 0.25));
    background-color: transparent;
    position: absolute;
    top: 20px;
    left: 18px;
}

.image_frame_font img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.graphic-list {
    width: 100%;
    height: auto;
    margin: 90px 0;
}

.graphic {
    width: 200px;
    height: 70px;
}

.graphic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.style_gallery {
    position: relative;
}
  
.styles_title {
    width: 648px;
    height: 52px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    position: absolute;
    top: calc((648px / 2) - (52px / 2));
    left: -52px;
}

.styles_title span {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.row{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    margin:0 -12px;
}

.column {
    padding-left: 12px;
    padding-right: 12px;
}

.colum-4 {
    width: calc(100%/ 4);
    margin-bottom: 24px;
}

.colum-2 {
    width: calc(100%/ 2);
    margin-bottom: 24px;
}

.content_style {
    height: 648px;
}

.content_style img, .content_style2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content_style2 {
    height: 312px;
    background-color: white;
}

.subscrible_content {
    width: 100%;
    margin: 140px 0;
    display: inline-flex;
    flex-direction: column;
    gap: 35px;
}

.subscrible_tile  {
    width: 100%;
    height: auto;
}



.subscrible_header, .subscrible_tile span, .subscrible_footer{
    width: 100%;
    height: auto;
}

.subscrible_menu {
    width: 374px;
}

.filter {
    padding: 5px 15px;
    background-color: var(--color-dark);
}



.subscrible_image {
    height: 648px;
}

.content {
    width: 100%;
    height: 478px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.content_img {
    width: 100%;
    /* height: 400px; */

}

.content_img img {
    width: 100%;
    height: 100%;

}

.content_botom {
    width: 100%;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.content_footer {
   width: 100%;
}

.content_footer_right {
    display: inline-flex;
    gap: 12px;
}






.collection {
    width: 100%;
    height: 776px;
    background-color: red;
}

.container {
    overflow: hidden;
}

.collection .container img {
    width: 100%;
    height: auto;
    object-fit: fill;
    transform: rotate(360deg);
}


.follow {
    width: 100%;
    display: inline-flex;
    padding: 100px 300px;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    background-color: var(--color-black5);
    margin: 140px 0;
}

.follow_gallery {
    margin-top: 60px;
    margin-bottom: 70px;
}

.fllow_galllery_box {
    width: 200px;
    height: 200px;
    background-color: red;
}

.fllow_galllery_box img {
    width: 100%;
    height: 100%;
    object-fit: fill;

}



.follow_submit {
    width: 100%;
    display: inline-flex;
    gap: 26px;
    justify-content: center;
    align-items: center;
    margin-top: 74px;
}

.email_input {
    width: 642px;
    height: 32px;
    padding-left: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid var(--color-dark);
    
}

.follow_submit button {
    width: 91px;
    height: 32px;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-dark);
    background-color: transparent;
}

.follow_submit button .text_style_button-small {
    color: var(--color-black);
}


.footer {
    width: 100%;
    height: 323px;
}

.footer_menu {
    width: 100%;
}

.footer_menu_left {
    width: 392px;
    height: 212px;
    margin-right: 56px;
}

.footer_menu_left {
    gap: 32px;
}

.footer_menu_left span {
    color: var(--color-black-75);
    line-height: 1.8;
}


.socials {
    gap:36px;
}

.socials i {
    font-size: 25px;
}

.footer_menu_right {
    width: 872px; 
    height: 212px;
}

.footer_menu_right_sub {
    background-color: white;
    width: 200px;
    height: 100%;
}

.footer_menu_right_sub  .flex-column {
    gap: 12px
}

.footer_menu_right_sub ul .text_style-h_6 {
    margin-bottom: 10px;
}



.flex-column .text_style-h_6 {
    color: var(--color-dark);

}

.footer_card {
    width: 100%;
    background-color: var(--color-dark);
}

.footer_card_content {
    width: 100%;
    padding: 10px;
    
}

.footer_card_content span {
    color: var(--color_white);
}

.scroll {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 5px 15px;
    display: block;
    gap: 4px
}

.scroll i {
    width: 20px;
    height: 20px;
    color: var(--color_white);
}

.center img {
    height: 100%;
}

.brand_banner {
    width: 100%;
    height: 776px;
    background-color: var(--color-dark);
    justify-content: flex-start;
    position: relative;
}

.brand_banner_frame {
    width: 80%;
    height: 776px;
    background-color: var(--color-dark);
}

.brand_banner_frame img {
    width: 100%;
    height: 100%;
    object-fit: none;
    transform: scaleX(-1);
}

.barnd_banner_content {

    gap: 55px;
    margin-left: -368px;
    z-index: 99;
}


.brand_logo {
    width: 191px;
    height: 81px;
}

.brand_logo img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


.brand_content span {
    display: block;
    width: 504px;
    color: var(--color_white);
    line-height: 1.8;
}

.barnd_banner_content button {
    background-color: var(--color_white);
}

.barnd_banner_content button span{
    color: var(--color-dark);
}

.logo_hide {
    width: 732px;
    height: 309px;
    background-image: url(/assets/image/brand_logo.png);
    opacity: 0.08;
    position: absolute;
    top:51px;
    right: -56px;
}